<div style="margin: 10px;">
    <div>
        <terra-base-toolbar>
            <div class="btn-group" role="group">
                <terra-button inputIcon="icon-save" inputTooltipText="{{ 'save' | translate:lang }}" inputTooltipPlacement="bottom"
                              [inputIsDisabled]="isLoading"
                              (outputClicked)="saveSettings()"></terra-button>
                <terra-button inputIcon="icon-reset" inputTooltipText="{{ 'reset' | translate:lang }}" inputTooltipPlacement="bottom"
                              [inputIsDisabled]="isLoading"
                              (outputClicked)="resetSettings()"></terra-button>
            </div>
        </terra-base-toolbar>
    </div>
    
    <div style="margin-top: 10px;">
        <terra-portlet inputPortletHeader="{{'Allgemein'}}">
            <div class="row-container" style="margin-top: 10px;">
                <div style="width: 100%; padding-left: 10px;">
                    <terra-select-box inputName="{{ 'activeAccount' | translate:lang }}"
                                      [inputListBoxValues]="_accountListValues"
                                      inputTooltipText="{{ 'activeAccount' | translate:lang }}"
                                      inputTooltipPlacement="top"
                                      [(inputSelectedValue)]="_selectedAccount"
                                      [inputIsDisabled]="isLoading">
                    </terra-select-box>
                </div>
            </div>
            <div class="row-container">
                <div style="width: 100%; padding-left: 10px;">
                    <terra-select-box inputName="{{ 'priority' | translate:lang }}"
                                      [inputListBoxValues]="_priorityListValues"
                                      inputTooltipText="{{ 'priority' | translate:lang }}"
                                      inputTooltipPlacement="top"
                                      [(inputSelectedValue)]="_selectedPriority"
                                      [inputIsDisabled]="isLoading">
                    </terra-select-box>
                </div>
            </div>
        </terra-portlet>
    </div>
    
    <div *ngIf="payPalMode == 'paypal'">
        <terra-portlet inputPortletHeader="{{ 'PayPal PLUS' | translate:lang }}">
            <div class="row-container">
                <div style="width: 100%; padding-left: 10px;">
                    <terra-checkbox [(value)]="_payPalPlus" [inputIsDisabled]="isLoading" [inputCaption]="'Aktivieren'"></terra-checkbox>
                </div>
            </div>
        </terra-portlet>
    </div>
    <div *ngIf="payPalMode == 'paypal_installment'">
        <terra-portlet inputPortletHeader="{{ 'payPalModeLabel' | translate:lang }}">
            <div class="row-container">
                <div style="width: 100%; padding-left: 10px;">
                    <terra-checkbox [(value)]="_payPalInstallment" [inputIsDisabled]="isLoading" inputCaption="{{ 'payPalInstallment' | translate:lang }}"></terra-checkbox>
                </div>
            </div>
        </terra-portlet>
    </div>
    
    <div>
        <terra-portlet inputPortletHeader="{{'languageSettings' | translate:lang}}">
            <div class="row-container" style="margin-top: 10px;">
                <div style="width: 50%; padding-left: 10px;">
                    <terra-select-box inputName="{{ 'language' | translate:lang }}"
                                      [inputListBoxValues]="languageValues"
                                      inputTooltipText="{{ 'language' | translate:lang }}"
                                      (outputValueChanged)="changeLanguage($event)"
                                      [(inputSelectedValue)]="selectLang">
                    </terra-select-box>
                </div>
                <div style="width: 50%; padding: 0 10px;">
                    <terra-select-box inputName="{{ 'infoPage' | translate:lang }}"
                                      [inputListBoxValues]="infoPageValues"
                                      inputTooltipText="{{ 'infoPage' | translate:lang }}"
                                      inputTooltipPlacement="top"
                                      [(inputSelectedValue)]="infoPage">
                    </terra-select-box>
                </div>
            
            </div>
            
            <div class="row-container">
                <div style="width: 50%; padding-left: 10px;">
                    <terra-text-input [(ngModel)]="_displayNameValue" inputName="{{ 'displayName' | translate:lang }}"></terra-text-input>
                </div>
                <div style="width: 50%; padding: 0px 10px;">
                    <terra-select-box inputName="{{ 'logo' | translate:lang }}"
                                      [inputListBoxValues]="logoValues"
                                      inputTooltipText="{{ 'logo' | translate:lang }}"
                                      inputTooltipPlacement="top"
                                      [(inputSelectedValue)]="logo">
                    </terra-select-box>
                </div>
            </div>
        
        </terra-portlet>
    </div>
    
    <div class="row-container">
        <div style="width: 50%; padding-right: 10px;">
            <terra-multi-select-box
                [inputValueList]="_shippingCountryListValues"
                [inputIsError]="error1"
                inputName="{{ 'shippingCountries' | translate:lang }}"
                [(inputSelectedValueList)]="_selectedShippingCountry">
            </terra-multi-select-box>
        </div>
        <div style="width: 50%; padding-left: 10px;">
            <terra-portlet inputPortletHeader="{{ 'markupWebstore' | translate:lang }}">
                <terra-double-input [(ngModel)]="markup.webstore.flatDomestic"
                                    inputName="{{ 'flatDomestic' | translate:lang }}"></terra-double-input>
                <terra-double-input [(ngModel)]="markup.webstore.percentageDomestic"
                                    inputName="{{ 'percentageDomestic' | translate:lang }}"></terra-double-input>
                <terra-double-input [(ngModel)]="markup.webstore.flatForeign"
                                    inputName="{{ 'flatForeign' | translate:lang }}"></terra-double-input>
                <terra-double-input [(ngModel)]="markup.webstore.percentageForeign"
                                    inputName="{{ 'percentageForeign' | translate:lang }}"></terra-double-input>
            </terra-portlet>
        </div>
        <div style="display: none;">
            <terra-portlet inputPortletHeader="{{ 'markupStatistic' | translate:lang }}">
                <terra-double-input [(ngModel)]="markup.statistic.flatDomestic"
                                    inputName="{{ 'flatDomestic' | translate:lang }}"></terra-double-input>
                <terra-double-input [(ngModel)]="markup.statistic.percentageDomestic"
                                    inputName="{{ 'percentageDomestic' | translate:lang }}"></terra-double-input>
                <terra-double-input [(ngModel)]="markup.statistic.flatForeign"
                                    inputName="{{ 'flatForeign' | translate:lang }}"></terra-double-input>
                <terra-double-input [(ngModel)]="markup.statistic.percentageForeign"
                                    inputName="{{ 'percentageForeign' | translate:lang }}"></terra-double-input>
            </terra-portlet>
        </div>
    </div>
</div>
