<div style="margin: 15px 5px 5px 0px;">
    <div class="spacer">
        <div class="col-lg-12">
            <terra-base-toolbar>
                <terra-button [inputIsLarge]="true"
                              [inputIsPrimary]="true"
                              inputCaption="{{ 'addNewPayPalAccount' | translate:lang }}"
                              inputIcon="icon-add"
                              (outputClicked)="openOverlayPayPalAddAccount()"></terra-button>
            </terra-base-toolbar>
            <div class="row" style="margin-top: 10px">
                <div class="col-lg-12">
                    <terra-split-view [inputModules]="_permissionService.modules" [inputShowBreadcrumbs]="false"></terra-split-view>
                </div>
            </div>
        </div>

        <terra-overlay
                #viewOverlayPayPalAddAccount
                inputPrimaryButtonInterface="{{ 'addAccount' | translate:lang }}"
                inputSecondaryButtonInterface="{{ 'close' | translate:lang }}"
                inputOverlayTitle="{{ 'addNewPayPalAccount' | translate:lang }}"
        >

            <div class="row">
                <div class="col-md-12">
                    <terra-text-input [(ngModel)]="email" inputName="{{ 'email' | translate:lang }}"></terra-text-input>
                    <terra-text-input [(ngModel)]="clientId" inputName="{{ 'clientId' | translate:lang }}"></terra-text-input>
                    <terra-text-input [(ngModel)]="clientSecret" inputName="{{ 'clientSecret' | translate:lang }}"></terra-text-input>
                </div>
            </div>
        </terra-overlay>
    </div>
</div>