<div class="loading" [hidden]="!isLoading">
    <div class="icon-referrer_backend loading-backend"></div>
    <div class="loading-text">Loading
        <span class="dot-one">.</span>
        <span class="dot-two">.</span>
        <span class="dot-three">.</span>
    </div>
</div>
<div *ngIf="action == 'permissions'" [hidden]="isLoading" class="terra-view">
    <permissions></permissions>
</div>

<div *ngIf="action == 'settings_paypal'" [hidden]="isLoading" class="terra-view">
    <settings settingsMode="paypal"></settings>
</div>

<div *ngIf="action == 'settings_paypal_installment'" [hidden]="isLoading" class="terra-view">
    <settings settingsMode="paypal_installment"></settings>
</div>

