<div>
    <div>
        <terra-base-toolbar>
            <div class="btn-group" role="group">
                <terra-button inputIcon="icon-save" inputTooltipText="{{ 'save' | translate:lang }}" inputTooltipPlacement="bottom"
                              [inputIsDisabled]="isLoading"
                              (outputClicked)="saveAccount()"></terra-button>
                <terra-button inputIcon="icon-delete" inputTooltipText="{{ 'reset' | translate:lang }}" inputTooltipPlacement="bottom"
                              [inputIsDisabled]="isLoading"
                              (outputClicked)="deleteAccount()"></terra-button>
            </div>
        </terra-base-toolbar>
    </div>
    
    <div class="row-container" style="margin-top: 10px;">
        <div style="width: 70%; padding-right: 10px;">
            <terra-portlet inputPortletHeader="{{'general'| translate:lang}}">
                <div class="row-container" style="margin-top: 10px;">
                    <div style="width: 100%; padding-left: 10px;">
                        <terra-text-input [(ngModel)]="_permissionService.currentAccount.email"
                                          [inputIsDisabled]="true"
                                          [inputIsRequired]="true"
                                          inputName="{{ 'account' | translate:lang }}">
                        </terra-text-input>
                    </div>
                </div>
                <div class="row-container">
                    <div style="width: 100%; padding-left: 10px;">
                        <terra-text-input [(ngModel)]="_permissionService.currentAccount.clientId"
                                          [inputIsDisabled]="true"
                                          [inputIsRequired]="true"
                                          inputName="{{ 'clientId' | translate:lang }}">
                        </terra-text-input>
                    </div>
                </div>
                <div class="row-container">
                    <div style="width: 100%; padding-left: 10px;">
                        <terra-text-input [(ngModel)]="_permissionService.currentAccount.clientSecret"
                                          [inputIsDisabled]="true"
                                          [inputIsRequired]="true"
                                          inputName="{{ 'clientSecret' | translate:lang }}">
                        </terra-text-input>
                    </div>
                </div>
                <div class="row-container">
                    <div style="width: 100%; padding-left: 10px;">
                        <terra-select-box inputName="{{ 'environment' | translate:lang }}"
                                          inputTooltipText="{{ 'environment' | translate:lang }}"
                                          inputTooltipPlacement="top"
                                          [inputListBoxValues]="_environmentsValueList"
                                          [(ngModel)]="_selectedEnvironments">
                        </terra-select-box>
                    </div>
                </div>
                <div class="row-container">
                    <div style="width: 100%; padding-left: 10px;">
                        <terra-text-input inputName="{{ 'logoUrl' | translate:lang }}"
                                          [(ngModel)]="_permissionService.currentAccount.logo">
                        </terra-text-input>
                    </div>
                </div>
                <div class="row-container">
                    <div style="width: 100%; padding-left: 10px;">
                        <terra-text-input inputName="{{ 'basketColor' | translate:lang }}"
                                          [(ngModel)]="_permissionService.currentAccount.basket">
                        </terra-text-input>
                    </div>
                </div>
                <div class="row-container">
                    <div style="width: 100%; padding-left: 10px;">
                        <terra-select-box inputName="{{ 'paymentAction' | translate:lang }}"
                                          [inputListBoxValues]="paymentActionValues"
                                          inputTooltipText="{{ 'paymentEntry' | translate:lang }}"
                                          inputTooltipPlacement="top"
                                          [(ngModel)]="_permissionService.currentAccount.paymentAction">
                        </terra-select-box>
                    </div>
                </div>
            
            
            </terra-portlet>
        </div>
        <div style="width: 30%; padding-left: 10px; display: none;">
            <terra-portlet inputPortletHeader="{{ 'expressButton' | translate:lang }}">
                <div>
                    <input type="radio" name="ppExpressLogo" id="1" value="1">
                    <label for="1">
                        <img style="margin-left: 15px;" src="/src/app/assets/images/buttons/paypal_express_de.png"/>
                    </label>
                    <br>
                </div>
                <div>
                    <input type="radio" name="ppExpressLogo" id="2" value="2">
                    <label for="2">
                        <img style="margin-left: 15px;" src="/src/app/assets/images/buttons/paypal_express_en.png"/>
                    </label>
                    <br>
                </div>
                <div>
                    <input type="radio" name="ppExpressLogo" id="3" value="3">
                    <label for="3">
                        <img style="margin-left: 15px;" src="/src/app/assets/images/buttons/paypal_express_es.png"/>
                    </label>
                    <br>
                </div>
                <div>
                    <input type="radio" name="ppExpressLogo" id="4" value="4">
                    <label for="4">
                        <img style="margin-left: 15px;" src="/src/app/assets/images/buttons/paypal_express_fr.png"/>
                    </label>
                    <br>
                </div>
                <div>
                    <input type="radio" name="ppExpressLogo" id="5" value="5">
                    <label for="5">
                        <img style="margin-left: 15px;" src="/src/app/assets/images/buttons/paypal_express_it.png"/>
                    </label>
                    <br>
                </div>
                <div>
                    <input type="radio" name="ppExpressLogo" id="6" value="6">
                    <label for="6">
                        <img style="margin-left: 15px;" src="/src/app/assets/images/buttons/paypal_express_nl.png"/>
                    </label>
                    <br>
                </div>
                <div>
                    <input type="radio" name="ppExpressLogo" id="7" value="7">
                    <label for="7">
                        <img style="margin-left: 15px;" src="/src/app/assets/images/buttons/paypal_express_pl.png"/>
                    </label>
                    <br>
                </div>
            </terra-portlet>
        </div>
    </div>
</div>
